.page-title {
    background: #121127;
    margin-top: 34px;
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
}
.page-title .container {
    
    height: 100%;
    display: table;
}
.bg-oscuro{
    position: relative;
    overflow: hidden;
}
.page-title .container>.row {
    vertical-align: middle;
    display: table-cell;
}
.page-title h2 {
    letter-spacing: 1px;
    font-size: 2.1rem;
    margin-bottom: .3em;
    text-transform: capitalize;
    margin-top: 0;
    z-index: 9;
    position: relative;
}
.page-title h2, .page-title ol {
    color: #fff;
}
.page-title .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    justify-content: center;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.page-title .breadcrumb li {
    
    font-size: 1rem;
    color: #fff;
    margin-right: 5px;
    position: relative;
}
.page-title .breadcrumb li a {
    color: #fff;
}
.page-title .breadcrumb li a:hover {
    color: #fe3e57;
}
.page-title .breadcrumb>li+li {
    margin-left: 20px;
    padding-left: 15px;
}
.page-title .breadcrumb li {
    font-size: 16px;
    font-size: 1rem;
    color: #fff;
    margin-right: 5px;
    position: relative;
}
.page-title .breadcrumb>li+li:before {
    content: "/";
    color: #fff;
    padding: 0;
    position: absolute;
    left: -8px;
    top: 2px;
}
.bg-oscuro .shape {
    left: 17%;
    bottom: 23%;
    position: absolute;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bg-oscuro .shape7 {
    bottom: 35%;
    top: auto;
    right: 18%;
    position: absolute;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bg-oscuro .shape8 {
    right: auto;
    top: 10%;
    left: 10%;
    position: absolute;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bg-oscuro .shape10 {
    right: auto;
    left: 34%;
    position: absolute;
    
    top: 50%;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bg-oscuro .shape11 {
    right: 8%;
    top: 10%;
}
.bg-oscuro .shape11, .bg-oscuro .shape12 {
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
}
.bg-oscuro .shape12 {
    right: 38%;
    top: auto;
    bottom: 25%;
}

/* formulario */

.contacto-page {
    padding-bottom: 100px;
}
section {
    position: relative;
}
.contactoarea3{
    background: #fff;
}
.contacto-area{
    padding-bottom: 60px;

}

.section-title{
    margin-bottom: 70px;
    position: relative;
}
.contactoarea3 .section-title h2 {
    color: #121127;
}
.section-title h2 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    position: relative;
    color: #fff;
    line-height: 80px;
}
.formulario{
    background: #fff;
    border: none;
    margin-bottom: 40px;
    padding: 60px 65px 45px;
    box-shadow: 0 5px 15px 0 rgb(68 68 68 / 10%);
    border-radius: 5px;
}
.contacto-form .formulario h2{
    color: #131058;
    font-size: 1.875rem;
    font-weight: 600;
    margin: 0 0 1em;
    text-align: center;
   
}
.contacto-form .form-field{
    margin-bottom: 21px;
}
.contactoarea3 .contacto-form form input, .contactorea3 
.contacto-form form select,.contactoarea3 .contacto-form form textarea {
    background-color: #eee;
    color: #333;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-family: 'Josefin Sans',sans-serif;
    padding: 10px 10px 10px 18px;
}
.form input, form select, form textarea{
    outline: 0;
}
textarea {
    overflow: auto;
}
button, input {
    overflow: visible;
}
.contactoarea3 .contacto-form form textarea {
    height: 175px;
}
.contacto-form form .form-submit {
    text-align: center;
}
.contacto-form .boton-btn {
    font-family: 'Josefin Sans', sans-serif;
    background: #fe3e57;
    color: #fff;
    border: 1px solid #fe3e57;
    outline: none;
    margin-top: 4px;
    border-radius: 40px;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 0px;
    position: relative;
}
.boton-btn{
    overflow: hidden;
}
.contacto-form form button {
    padding-bottom:4px;
}
.boton-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    z-index: 9;
    content: "";
    transition: transform .6s;
    transform: scale3d(1.9,1.4,1) rotate(180deg) translate3d(0,100%,0);
}

.boton-btn:hover:before {
    transform: scale3d(1.9,1.4,1) rotate(180deg) translate3d(0,-100%,0);
}
.boton-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    z-index: 9;
    content: "";
    transition: transform .6s;
}
.contacto-info {
    max-width: 395px;
    padding-left: 20px;
}
.info-item {
    box-shadow: 0 10px 40px 0 rgb(50 50 50 / 10%);
    padding: 27px 40px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.contactoarea3 .info-item h2{
    color: #131058;
}
.info-item h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}
.contacto-form .info-wrap {
    display: flex;
    align-items: center;
}
.contacto-form .info-icon {
    width: 90px;
    height: 90px;
    background: #fff;
    line-height: 90px;
    border-radius: 50%;
    box-shadow: 0 10px 40px 0 rgb(50 50 50 / 10%);
    text-align: center;
    margin-right: 20px;
    align-items: center;
}
.contactoarea3 .info-text span{
    color: #666;
}
.info-text span {
    font-size: 20px;
    font-weight: 300;
}
.contacto-mapa{
    filter: grayscale(100%);
    max-width: 995px;
    height: 610px;
    box-shadow: 0 5px 15px 0 rgb(68 68 68 / 10%);
    margin-top: -10px;
   
}
.contacto-mapa iframe {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 0;
}
.fondos{
    background-color: rgb(235, 235, 235);
    align-items: center;
    
}
#pais-nombre,#pais-capital{
    font-family: 'Josefin Sans',sans-serif;
    color: rgb(29, 28, 28);
    padding: 8px;
}
.table-info{
    --bs-table-bg: #d3d3da;
}
